<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-3 border-top flex-shrink-0">
    <p class="col-md-4 col-sm-4 mb-0 text-body-secondary">© 2023 Erasmus+</p>

    <a href="https://www.kg.ac.rs/" target='_blank'
      class="col-md-4 col-sm-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="bi me-2" width="40" [src]="uniLogo">
    </a>

    <div class="col-md-4 col-sm-4 justify-content-end">
      <p class="mb-0 text-end"><a class="text-body-secondary text-decoration-none" target="_blank" href="https://unic.kg.ac.rs/">Univerzitetski informatički centar,
          Univerzitet u Kragujevcu</a></p>
    </div>
  </footer>
</div>
