<app-auth-card>

  <h5 class="card-title text-center mb-4 fw-light fs-3">Forgot your password?</h5>
  <p class="text-secondary">Please enter the email address where you would like to receive the verification code
    for resetting your password.</p>

  <form [formGroup]="forgetFormGroup" (ngSubmit)="onSubmit()">

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput"
      formControlName="email" placeholder="name@example.com"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
      <label for="floatingInput">Email address</label>
    </div>

    <div class="d-grid mb-2">
      <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
        [disabled]="forgetFormGroup.invalid || successful">Send</button>
    </div>

  </form>

</app-auth-card>
