<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle text-center">
    <thead>
      <tr class="table-primary">
        <th scope="col" class="col-lg-2 col-sm-2">Name and Surname</th>
        <th scope="col" class="col-lg-2 col-sm-2">Email</th>
        <th scope="col" class="col-lg-3 col-sm-3">Home Institution</th>
        <th scope="col" class="col-lg-1 col-sm-1">Mobility</th>
        <th scope="col" class="col-lg-2 col-sm-1">Date submitted</th>
        <th scope="col" class="col-lg-2 col-sm-1">Application Status</th>
        <th scope="col" class="col-lg-2 col-sm-1">Score (max 60)</th>
        <th scope="col" class="col-lg-1 col-sm-1" *ngIf="isAdmin">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr
        *ngFor="let application of applications | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,  totalItems: totalItems }"
        [routerLink]="['/application-data', application.id]" class="application-row">

        <td>{{ application.personal_details.fornames + ' ' + application.personal_details.surname }}</td>
        <th scope="row">
          {{ application.user.email }}
        </th>
        <td>{{ application.home_institution.name }}</td>
        <td>{{ application.mobility? application.mobility.name : 'Other (' + application.other_mobility.description |
          truncate:[50, '...'] }}</td>
        <td>{{application.submitted_at | date}}</td>
        <td><app-application-status [status]="application.status"></app-application-status></td>
        <td>{{ application.score }}</td>
        <td *ngIf="isAdmin">
          <button class="btn btn-danger" type="button" (click)="changeAction(application.id,$event)"
          data-bs-toggle="modal" data-bs-target="#myModal">
            Delete
        </button>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="maxPage"></pagination-controls>
  </div>
</div>


<app-modal
  [modalBodyText]="'Are you sure you want to delete application?'"
  [modalHeaderText]="'Please confirm'"
  (confirmEvent)="confirmDelete()">
</app-modal>