<div class="card-body mt-2 p-0">
  <h5 class="card-title text-start fw-light fs-2">Applications</h5>
  <div class="row">
    <div class="col-lg-3 log-sm-3 mt-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search user by email" aria-label="user" [(ngModel)]="searchKey"
          (keyup.enter)="search()">
        <button class="btn btn-primary" type="button" id="search-button" (click)="search()"><i
            class="bi bi-search"></i></button>
      </div>

    </div>

    <div class="col-lg-2 log-sm-2 mt-3">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCallId" (change)="changeCall($event)">
        <option value="null" selected>All calls</option>
        <option *ngFor="let call of calls" [value]="call.id">
          {{ call.call_name }} ({{ call.start_date | date }} - {{ call.end_date | date }})
        </option>
      </select>
    </div>

    <div class="col-lg-2 log-sm-2 mt-3">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedMobilityId" (change)="changeMobility($event)">
        <option value="null" selected>All mobilities</option>
        <option *ngFor="let type of mobilities" [value]="type.id">{{type.name}} ({{type.description}})</option>
        <option [value]="'other'">Other</option>
      </select>
    </div>

    <div class="col-lg-3 log-sm-3 mt-3">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedHomeInstitutionId" (change)="changeHomeInstitution($event)">
        <option value="null" selected>All home institutions</option>
        <option *ngFor="let institution of homeInstitutions" [value]="institution.id">{{institution.name}}
        </option>
      </select>
    </div>
    <div class="col-lg-2 log-sm-2 mt-3">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedStatusId" (change)="changeApplicationStatus($event)">
        <option value="null" selected>All statuses</option>
        <option *ngFor="let status of allStatuses" [value]="status.id">{{status.label}}
        </option>
      </select>
    </div>
  </div>

  <div class="mt-4">
    <div class="w-100 m-5" *ngIf="!paginatedResult">
      <ngx-skeleton-loader count="1" appearence="line"></ngx-skeleton-loader>
    </div>

    <p class="text-secondary text-center m-5" *ngIf="paginatedResult && !paginatedResult.data.length">
      No Applications
    </p>

    <app-applications-table *ngIf="paginatedResult && paginatedResult.data.length" [applications]="paginatedResult.data"
      [totalItems]="paginatedResult.total" (pageChangeEmitter)="pageChangeEvent($event)"
      [currentPage]="currentPage"></app-applications-table>
  </div>

</div>
