.form-1-box .form-check-label {
    line-height: 1.5;
    vertical-align: top;
}

.form-1-box input[type="text"],
.form-1-box input[type="email"],
.form-1-box input[type="password"] {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    box-shadow: none;
}


