<app-fieldset [legend]="'Applicant\'s personal details'" [formGroup]="formGroup">

  <div class="row mb-3">
    <label for="surname" class="col-sm-5 col-lg-2 col-form-label">Surname/Family name</label>
    <div class="col-sm-7 col-lg-5">
      <input type="text" class="form-control" id="surname" formControlName="surname"
        [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }">
      <small class="text-danger" *ngIf="submitted && f['surname'].errors">
        Surname is required field and should only contain letters
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <label for="forenames" class="col-sm-5 col-lg-2 col-form-label">Forenames/Given names</label>
    <div class="col-sm-7 col-lg-5">
      <input type="text" class="form-control" id="forenames" formControlName="fornames"
        [ngClass]="{ 'is-invalid': submitted && f['fornames'].errors }">
      <small class="text-danger" *ngIf="submitted && f['fornames'].errors">
        Forname is required field and should only contain letters.
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <label for="birth_date" class="col-sm-5 col-lg-2 col-form-label">Date of birth</label>
    <div class="col-sm-7 col-lg-5">
      <input type="date" class="form-control" id="birth_date" formControlName="birth_date"
        [ngClass]="{ 'is-invalid': submitted && f['birth_date'].errors }" min="1900-01-01">
      <small class="text-danger" *ngIf="submitted && f['birth_date'].errors">
        Date of birth is required field. Please enter valid date in past.
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <label for="birth_place" class="col-sm-5 col-lg-2 col-form-label">Place of birth</label>
    <div class="col-sm-7 col-lg-5">
      <input type="text" class="form-control" id="birth_place" formControlName="birth_place"
        [ngClass]="{ 'is-invalid': submitted && f['birth_place'].errors }">
      <small class="text-danger" *ngIf="submitted && f['birth_place'].errors">
        Place of birth is required field.
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <label for="gender" class="col-sm-5 col-lg-2 col-form-label">Gender</label>
    <div class="col-sm-7 col-lg-5">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="male" formControlName="gender"
          [value]="genders.Male" [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female" formControlName="gender"
          [value]="genders.Female" [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="passport" class="col-sm-5 col-lg-2 col-form-label">Passport no.</label>
    <div class="col-sm-7 col-lg-3">
      <input type="text" class="form-control" id="passport" formControlName="passport"
        [ngClass]="{ 'is-invalid': submitted && f['passport'].errors }">
      <small class="text-danger" *ngIf="submitted && f['passport'].errors">
        Passport number is required field. Please enter valid passport number format.
      </small>
    </div>
  </div>

   <div class="row mb-3">
    <label for="previous_participation" class="col-sm-5 col-lg-2 col-form-label">Have you previously participated in the Erasmus+ program?</label>
    <div class="col-sm-7 col-lg-5">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="participationYes" formControlName="previous_participation" [value]="true" [ngClass]="{ 'is-invalid': submitted && f['previous_participation'].errors }">
        <label class="form-check-label" for="participationYes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="participationNo" formControlName="previous_participation" [value]="false" [ngClass]="{ 'is-invalid': submitted && f['previous_participation'].errors }">
        <label class="form-check-label" for="participationNo">No</label>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="f['previous_participation'].value === true">
    <label for="participation_count" class="col-sm-5 col-lg-2 col-form-label">How many times?</label>
    <div class="col-sm-7 col-lg-3">
      <select id="participation_count" formControlName="participation_count" class="form-select" [ngClass]="{ 'is-invalid': submitted && f['participation_count'].errors }">
        <option value="" selected>(Select option)</option>
        <option *ngFor="let count of [1, 2, 3, 4, 5]" [value]="count">{{ count }}</option>
      </select>
      <small class="text-danger" *ngIf="submitted && f['participation_count'].errors">
        Please enter a number between 1 and 5.
      </small>
    </div>
  </div>

  <fieldset class="border-top border-bottom p-2 pb-4 mb-2" *ngIf="f['previous_participation'].value === true && f['participation_count'].value > 0">
    <legend class="float-none w-auto px-2">Previous participation in the Erasmus+ program</legend>
    <div *ngFor="let item of getCount(f['participation_count'].value); let index = index">
      <div class="row mb-3">
        <label [for]="'name_of_host_institution_' + (index + 1)" class="col-sm-5 col-lg-2 col-form-label">Name of host institution {{ index + 1 }}</label>
        <div class="col-sm-7 col-lg-5">
          <input type="text" class="form-control" [id]="'name_of_host_institution_' + (index + 1)" [formControlName]="'name_of_host_institution_' + (index + 1)" [ngClass]="{ 'is-invalid': submitted && f['name_of_host_institution_' + (index + 1)].errors }">
          <small class="text-danger" *ngIf="submitted && f['name_of_host_institution_' + (index + 1)].errors">Host institution name is required</small>
        </div>
      </div>
      <div class="row mb-3">
        <label [for]="'mobility_date_' + (index + 1)" class="col-sm-5 col-lg-2 col-form-label">Mobility Date {{ index + 1 }}</label>
        <div class="col-sm-7 col-lg-5">
          <input type="date" class="form-control" [id]="'mobility_date_' + (index + 1)" [formControlName]="'mobility_date_' + (index + 1)" [ngClass]="{ 'is-invalid': submitted && f['mobility_date_' + (index + 1)].errors }">
          <small class="text-danger" *ngIf="submitted && f['mobility_date_' + (index + 1)].errors">Mobility date is required</small>
        </div>
      </div>
    </div>
  </fieldset>
  
  
</app-fieldset>




