<td class="align-middle">
  <div *ngIf="document.is_required || uploadedDocument" class="text-center">
    <img src="{{ uploadedDocument? completedImage : notCompletedImage }}" width="20">
  </div>
</td>

<th class="document_name align-middle" scope="row">
  <p [innerHTML]="document.description"></p>
  <p class="text-secondary">{{ document.is_required ? "(Required)" : "(Optional)" }}</p>
</th>

<td *ngIf="!isAdmin">
  <form [formGroup]="fileGroup" (ngSubmit)="uploadDocument()">

    <div class="my-3">

      <label [for]="document.name" class="form-label">{{'(' + fileFormats.join(', ') + ')'}}</label>
      <input class="form-control" type="file" [id]="document.name" formControlName="filename"
        [ngClass]="{ 'is-invalid': f['filename'].dirty && f['filename'].errors }" (change)="onFileChange($event)">
      <div *ngIf="f['filename'].errors && f['filename'].dirty" class="text-danger">
        <span *ngIf="f['filename'].errors['invalidFileFormat']">Please select a valid file format.</span>
        <span *ngIf="f['filename'].errors['fileSize']">Maximum size of document is {{fileSize}} MB.</span>
        <span *ngIf="f['filename'].errors['videoSize']">Maximum size of document is {{videoSize}} MB.</span>
      </div>

      <div class="d-grid mx-auto mt-3 col-lg-5">
        <button class="btn btn-primary fw-bold text-uppercase p-1" type="submit"
          [disabled]="fileGroup.invalid || isDisabled"><i class="bi bi-upload pe-2"></i>Upload</button>
      </div>
    </div>

  </form>
</td>

<td class="align-middle">
  <a *ngIf="uploadedDocument" class="fs-5 link-primary download-link" (click)="downloadDocument(documentIndex)"> <i
      class="bi bi-file-earmark-arrow-down-fill pe-2"></i>Download
  </a>
</td>
